<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Exercice 6</title>
  </head>
  <body ng-app="">
    <button type="button" name="text1" ng-click="show=false">paragraphe1</button>
    <button type="button" name="text2" ng-click="show=true">paragraphe2</button>
    <p ng-show="show">2.Les Tortues (Testudines), ou Chéloniens, forment un ordre de reptiles dont la caractéristique est d'avoir une carapace.</p>
    <p ng-hide="show">1.La Tortue alligator (Macrochelys temminckii), unique représentant du genre Macrochelys, est une espèce de tortue de la famille des Chelydridae.</p>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
  </body>
</html>
